{% extends "base.html"%}
{%block header%}
<header class="masthead" style="background-image: url('assets/img/contact-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Add Blogpost</h1>
                    <span class="subheading">{{subtitle}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{%endblock%}
{% block content %} 

        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Please fill the form down below to add blog content.</p>
                        <div class="my-5">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form id="Form" method ="post" autocomplete="off">
                                <div class="form-floating">
                                    <input class="form-control" id="title" type="text" name="title" required />
                                    <label for="title">Post Title</label>
                                    
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="subtitle" type="text" name="subtitle" required />
                                    <label for="subtitle">Post Subtitle</label>
    
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="summary" type="text" name="summary" required />
                                    <label for="summary">Post Summary</label>
                                    
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" id="content" name="content" style="height: 12rem" required></textarea>
                                    <label for="content">Post Content</label>
                                    
                                </div>
                                <div class ="form-floating">
                                    <input class="form-control" type="file" id="photo" name="photo" accept="image/*">
                                    <label for="photo">Choose a photo!</label>
                                </div>
                                <br />
                                <button class="button" id="submitButton" type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock%}